VITE_SUPABASE_URL=https://wifjwtbzstbuiistcxkf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndpZmp3dGJ6c3RidWlpc3RjeGtmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2OTE5MDYsImV4cCI6MjA5NjI2NzkwNn0.Dqq6sT0YhR64VLqUUPWNrkB_HFZ9rQSJrnUqh6mCBTg
VITE_API_URL=/_backend
